<div class="container-fluid">
    <div class="bg-primary">
        <b>BDotNet UG Meet - January 23, 2016 </br> </b>
    </div>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td><b>Time</b></td>
                <td><b>Session</b></td>
                <td><b>Speaker</b></td>
            </tr>
            <tr>
                <td>10 : 00 AM - 11:00 AM</td>
                <td>Dependency Injection in Angular JS</td>
                <td>Krunal Trivedi, Microsoft Certified Trainer</td>
            </tr>
            <tr>
                <td>11 : 00 AM - 12:00 PM</td>
                <td>JavaScript Task Automation Frameworks for Web/Mobile App Development</td>
                <td>Swaminathan Vetri, Developer, Target Corp</td>
            </tr>
            <tr>
                <td>12 : 00 AM - 1:00 PM</td>
                <td>HTTP2 & The Future of Web</td>
                <td>Rohith Rajan & Mohammed Faisulla, Microsoft - IIS/ASP.NET Support Team</td>
            </tr>
        </tbody>
    </table>
    <div class="bg-primary">
        <b>Signature Building, Hamilton Hall - Microsoft India Pvt Ltd. Embassy Golf Links Business Park, Bengaluru, Karnataka IN  </b>
    </div>
</div>