<div class="container-fluid">
    <p class="text-justify">
        <b>To pass on any comments about the event/ To present any sessions, get in touch with the below admin folks.</b>
    </p>
    <div class="row">
        <div class="col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="">Lohith G N</h4>
                    <a href="http://twitter.com/kashyapa">@kashyapa </a>
                </div>
                <img src="img/Lohith.jpg" alt="Lohith" class="">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="">Senthil Kumar</h4>
                    <a href="http://twitter.com/isenthil">@iSenthil</a>
                </div>
                <img src="img/Senthil.jpg" alt="Senthil" class="">
            </div>
        </div>
    </div>
</div>